  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>
    <span>Angular Material</span>
    <!-- 在這之後的都會被推到右邊去 -->
  <span class="toolbar-seprator"></span>
  <button mat-icon-button [matMenuTriggerFor]="messageMenu" #menuTrigger="matMenuTrigger">
    <mat-icon>message</mat-icon>
  </button>
    <mat-menu xPosition="before" yPosition="below" [overlapTrigger]="false" #messageMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="subMenu1">最新訊息</button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu2">訊息設定</button>
    </mat-menu>
    <mat-menu #subMenu1="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          訊息 1-1
        </button>
        <button mat-menu-item>
          <mat-icon>favorite</mat-icon>
          訊息 1-2
        </button>
        <button mat-menu-item>
          <mat-icon>thumb_up</mat-icon>
          訊息 1-3
        </button>
      </mat-menu>
      
      <mat-menu #subMenu2="matMenu">
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          訊息 2-1
        </button>
        <button mat-menu-item disabled>
          <mat-icon>settings</mat-icon>
          訊息 2-2
        </button>
      </mat-menu>

  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
  </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [mode]="mode.value"  #sideNav>
      I'm navigation
      <nav>
          <button routerLink="/sidenav" mat-raised-button color="primary">index</button>
          <br>
          <button routerLink="/sidenav/second" mat-raised-button color="primary">navi</button>
      </nav>
    </mat-sidenav>
    <mat-sidenav [mode]="mode.value" position="end"  #sideNavEnd>
        I'm navigation
        <mat-nav-list>
            <h3 matSubheader>示範用頁面</h3>
            <a [routerLink]="['/', 'sidenav', 'stepper']" mat-list-item>Stepper</a>
            <a [routerLink]="['/', 'sidenav', 'grid']" mat-list-item>Grid</a>
            <a [routerLink]="['/', 'sidenav', 'card']" mat-list-item>Card</a>
            <a [routerLink]="['/', 'sidenav', 'expansion-panel']" mat-list-item>Expansion Panel</a>
            <a [routerLink]="['/', 'sidenav', 'tab']" mat-list-item>Tab</a>

            <h3 matSubheader>其他頁面</h3>
            <button routerLink="/sidenav" mat-raised-button color="primary">index</button>
            <br>
            <button routerLink="/sidenav/second" mat-raised-button color="primary">navi</button>
          </mat-nav-list>
      </mat-sidenav>
    <mat-sidenav-content>
        <button   mat-raised-button color="primary" (click)="toggleSideNav(sideNav)">LeftToggle</button>
        <button   mat-raised-button color="primary" (click)="toggleSideNav(sideNavEnd)">RightToggle</button>
          <mat-radio-group  [formControl]="mode">
            <label>Mode:</label>
            <mat-radio-button color="warn" value="over">Over</mat-radio-button>
            <mat-radio-button color="warn" value="side">Side</mat-radio-button>
            <mat-radio-button color="warn" value="push">Push</mat-radio-button>
          </mat-radio-group>
          <button mat-raised-button color="warn" (click)="menuTrigger.toggleMenu()">開啟訊息設定</button>
        <div class="eg-content">
            <mat-sidenav-container>
            <router-outlet></router-outlet>
            </mat-sidenav-container>
          </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
        <style>
          .eg-content{
            width: 95%;
            height: 500px; 
            background-color: aliceblue;
          }
          /* Toolbar內的排版是flex */
          .toolbar-seprator {
            flex: 1 1 auto;
          }
          </style>