<mat-expansion-panel hideToggle="true" expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>inbox</mat-icon>
                收件夾
          </mat-panel-title>
          <mat-panel-description>
            3 封未讀
          </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <mat-list-item>
          <mat-icon>folder</mat-icon>
          Angular
        </mat-list-item>
        <mat-list-item>
          <mat-icon>folder</mat-icon>
          JavaSCript
        </mat-list-item>
        <mat-list-item>
          <mat-icon>folder</mat-icon>
          HTML
        </mat-list-item>
      </mat-nav-list>
      <mat-action-row>
          <button mat-button color="primary">管理資料夾</button>
        </mat-action-row> 
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle="true" expanded="true" >
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>person</mat-icon>
            聯絡人列表
          </mat-panel-title>
          <mat-panel-description>
            2 人在線上
          </mat-panel-description>  
    </mat-expansion-panel-header>
    <!-- 聯絡人列表內容 -->
    ...
  </mat-expansion-panel>


  <mat-accordion multi="false" displayMode="flat">
  <mat-expansion-panel hideToggle="true" expanded="true">
      <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>inbox</mat-icon>
                  收件夾
            </mat-panel-title>
            <mat-panel-description>
              3 封未讀
            </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-nav-list>
          <mat-list-item>
            <mat-icon>folder</mat-icon>
            Angular
          </mat-list-item>
          <mat-list-item>
            <mat-icon>folder</mat-icon>
            JavaSCript
          </mat-list-item>
          <mat-list-item>
            <mat-icon>folder</mat-icon>
            HTML
          </mat-list-item>
        </mat-nav-list>
        <mat-action-row>
            <button mat-button color="primary">管理資料夾</button>
          </mat-action-row> 
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle="true" expanded="true" >
      <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>person</mat-icon>
              聯絡人列表
            </mat-panel-title>
            <mat-panel-description>
              2 人在線上
            </mat-panel-description>  
      </mat-expansion-panel-header>
      <mat-nav-list>
          <mat-list-item>
            <mat-icon>email</mat-icon>
            A
          </mat-list-item>
          <mat-list-item>
            <mat-icon>email</mat-icon>
            B
          </mat-list-item>
          <mat-list-item>
            <mat-icon>email</mat-icon>
            C
          </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
    </mat-accordion>
  