<mat-grid-list gutterSize="20px" cols="3" rowHeight="2:1">
  <mat-grid-tile colspan="2" style="background: red">
    Hot news
  </mat-grid-tile>
  <mat-grid-tile style="background: green" rowspan="5">
    <mat-grid-tile-header>
      <h3 mat-line>List or Chat</h3>
      <span mat-line>清單</span>
      <mat-icon>list</mat-icon>
    </mat-grid-tile-header>

    <mat-grid-tile-footer>
      <span mat-line>Maybe input</span>
      <mat-icon>thumb_up</mat-icon>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile style="background: blue" colspan="2" rowspan="3">
    有些服務
  </mat-grid-tile>
  <mat-grid-tile style="background: yellow" colspan="2">
    追加消息
  </mat-grid-tile>
</mat-grid-list>