<form [formGroup]="fullGroupForm">
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step formGroupName="basicQuestions" [stepControl]="fullGroupForm.get('basicQuestions')" label="個人資訊">
      <h4>提供個人資訊</h4>
      <mat-form-field>
        <input name="name" matInput placeholder="姓名" formControlName="name" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input name="date" type="date" matInput placeholder="生日" formControlName="date" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea name="intro_self" matInput placeholder="自我介紹" formControlName="intro" required matTextareaAutosize></textarea>
        <mat-hint>簡單介紹一下你的興趣吧！</mat-hint>
        <mat-error *ngIf="fullGroupForm.get('basicQuestions').get('intro').hasError('required')">請記得輸入自我介紹喔！</mat-error>
        <mat-error *ngIf="fullGroupForm.get('basicQuestions').get('intro').hasError('minlength')">至少輸入10個字吧！</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" name="country" matInput placeholder="國家" formControlName="country" [matAutocomplete]="countries" />
      </mat-form-field>

      <mat-autocomplete #countries="matAutocomplete" [displayWith]="displayCountry">
        <mat-option *ngFor="let country of countries$ | async" [value]="country.name">
          <span [innerHTML]="highlightFiltered(country.name)"></span>
        </mat-option>
      </mat-autocomplete>
      <br>
      <mat-form-field>
        <input type="text" name="majorTech" matInput placeholder="代表技術" formControlName="majorTech" [matAutocomplete]="majorTechs"
        />
      </mat-form-field>

      <mat-autocomplete #majorTechs="matAutocomplete">
        <mat-optgroup *ngFor="let techList of majorTechList" [label]="techList.name">
          <mat-option *ngFor="let tech of techList.items" [value]="tech">
            {{ tech }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
      <br>
      <mat-form-field>
        <input type="text" name="birthday" matInput placeholder="生日" [matDatepicker]="birthdayPicker" />
        <mat-datepicker-toggle [for]="birthdayPicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #birthdayPicker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="您的興趣?" formControlName="interest">
          <mat-option [value]="undefined">無</mat-option>
          <mat-option *ngFor="let item of interestList" [value]="item.id" [disabled]="item.id===1">{{ item.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="您的興趣?" formControlName="interest">
          <mat-option [value]="undefined">無</mat-option>
          <mat-optgroup *ngFor="let parent of nestInterestList; let index = index" [label]="parent.name">
            <mat-option *ngFor="let child of parent.subItems" [value]="child.id">{{ child.name }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field color="anccent">
        <mat-select placeholder="您的興趣?" #selectInterest formControlName="interest" multiple>
          <mat-select-trigger>
            共選擇了 {{ selectInterest.selected.length }} 項興趣
          </mat-select-trigger>
          <mat-optgroup *ngFor="let parent of nestInterestList; let index = index" [label]="parent.name">
            <mat-option *ngFor="let child of parent.subItems" [value]="child.id">{{ child.name }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field color="warn" hintLabel="最多輸入5個字">
        <input name="name" matInput formControlName="name" maxlength="5" required>

        <mat-hint align="end">
          已輸入： {{ fullGroupForm.get('basicQuestions')?.get('name')?.value?.length || 0 }} / 5
        </mat-hint>
      </mat-form-field>

    </mat-step>
    <!-- option:非必選欄位label
    editable="false":不可返回上一步 -->
    <mat-step optional editable="false" label="詳細問題" formGroupName="mainQuestions" [stepControl]="fullGroupForm.get('mainQuestions')">
      <mat-form-field>
        <input type="number" matInput placeholder="請問您的平均日常消費？">
        <mat-icon matPrefix>attach_money</mat-icon>
        <span matSuffix>新台幣</span>
      </mat-form-field>
      <br>
      <div>除了生活消費外，你最常花費在哪些項目上？</div>
      <mat-checkbox formControlName="payForAll" [indeterminate]="indeterminateSelectedPayFor" (change)="checkAllChange($event)">全部</mat-checkbox>
      <mat-checkbox color="warn" (change)="payForChange()" formControlName="payForBook">書籍</mat-checkbox>
      <mat-checkbox color="warn" (change)="payForChange()" formControlName="payForMusic">音樂</mat-checkbox>
      <mat-checkbox color="warn" (change)="payForChange()" formControlName="payForMovie">電影</mat-checkbox>
      <div>對於Angular，你的評價是？</div>
      <mat-radio-group formControlName="angularLikeScore">
        <mat-radio-button color="primary" [value]="1">超討厭</mat-radio-button>
        <mat-radio-button color="warn" [value]="2">討厭</mat-radio-button>
        <mat-radio-button color="warn" [value]="3">普通</mat-radio-button>
        <mat-radio-button color="accent" [value]="4">喜歡</mat-radio-button>
        <mat-radio-button color="accent" [value]="5">超喜歡</mat-radio-button>
      </mat-radio-group>
      <div>訂閱電子報</div>
      <div>
        <mat-slide-toggle color="primary" formControlName="subscribeAngular">Angular技巧全集</mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle color="primary" formControlName="subscribeAngularMaterial">Angular Material全攻略</mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle color="primary" formControlName="subscribeNgRx">NgRx入門班</mat-slide-toggle>
      </div>
    </mat-step>
    <mat-step label="其他" formGroupName="otherQuestions" [stepControl]="fullGroupForm.get('otherQuestions')">
      <h4>其他問題</h4>
      <div>選擇你最喜歡的顏色</div>
      <div>
        <span>Red</span>
        <mat-slider color="primary" formControlName="favoriteColorRed" min="0" max="255" step="1"></mat-slider>
      </div>
      <div>
        <span>Green</span>
        <mat-slider color="primary" formControlName="favoriteColorGreen" min="0" max="255" step="1"></mat-slider>
      </div>
      <div>
        <span>Blue</span>
        <mat-slider vertical invert step="5" thumbLabel [tickInterval]="2" color="primary" formControlName="favoriteColorBlue" min="0" max="255" step="1"></mat-slider>
      </div>
      <div>RGB: ({{ selectedColorRed }}, {{ selectedColorGreen }}, {{ selectedColorBlue }})</div>
      <div style="width: 50px; height: 50px; border: 1px solid #000" [ngStyle]="{background: selectedColorStyle}"></div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
<button mat-raised-button color="warn" (click)="isLinear = !isLinear">切換Linear狀態</button>
<mat-vertical-stepper [linear]="isLinear">
  <mat-step [stepControl]="basicFormGroup">
    <form [formGroup]="basicFormGroup">
      <ng-template matStepLabel>
        <u>個人資訊</u>
      </ng-template>
      <h4>提供個人資訊</h4>
      <mat-form-field color="primary">
        <input name="name" matInput placeholder="姓名" formControlName="name" required>
      </mat-form-field>
    </form>
    <button mat-button matStepperNext>前進到「詳細問題」</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <em>詳細問題</em>
    </ng-template>
    <h4>主要的問題內容</h4>
    <button mat-button matStepperPrevious>回到「個人資訊」</button>
    <button mat-button matStepperNext>前進到「其他」</button>
  </mat-step>
  <mat-step label="其他">
    <h4>其他問題</h4>
    <button mat-button matStepperPrevious>回到「詳細問題」</button>
  </mat-step>
</mat-vertical-stepper>